* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

.content {
  display: flex;
  width: 100vh;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* desktop */

@media (min-width: 769px) {
  #home {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .text-content {
    max-width: 80rem;
  }

  .consult-content {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .img-about {
    display: inline-block;
  }

  .about {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}
