* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  font-family: "Itim", cursive;
}

img {display: block; width: 100%;}

h2 {
  font-size: 4rem;
  padding-bottom: 3rem;
  color: #e84b23;
}

p {
  font-size: 1.8rem;
  color: #737373;
  padding-bottom: 3rem;
}

#body {
  display: flex;
  margin: 0 auto;
}

.blue-bg {
  background-image: url(/static/assets/background-blue.webp);
  background-position: center center;
}

.indent {
  max-width: 170rem;
  width: 95%;
  margin: 0 auto;
}

/* Menu*/
header,
nav,
ul {
  display: flex;
  align-items: center;
}
header {position: fixed; z-index: 1; height: 6rem; width: 100%; max-width: 100%;  background-color: #dd765b; border-bottom: 0.1rem solid #252b42;}

header .container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

header img {
  width: 100%;
  max-width: 6rem;
  display: block;
}

/* Modal */

#modal {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; max-height: 100vh; background-color: rgba(0, 0, 0, .25); overflow: hidden; z-index: 999; display: none;}
#modal.open {display: block;}
#modal .content {width: 100%; display: flex; align-items: center; justify-content: center; height: 100%; overflow-y: hidden;}
#modal .content .container {background-color: #FFF; padding: 2rem 4rem; border-radius: 20px; position: relative; max-width: 600px;}
#modal .content .container .modal_title {color: #e84b23; font-weight: bold; font-size: 2rem; margin-bottom: 15px; text-align: center;}
#modal .content .container p {font-size: 1.4rem; text-align: justify;}
#modal .content .container p + p {margin-top: 10px;}
#modal .content .container #close {position: absolute; top: 1rem; right: 2rem; font-weight: bold; font-size: 1.2rem; color: #e84b23;}

#modal form#infos {box-shadow: none;}

nav {width: 100%; justify-content: center;}

nav ul li {
  font-size: 1.6rem;
  font-weight: 400;
  list-style: none;
  margin-right: 4rem;
  gap: 7rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: #461306;
}

/*Home*/

.studant {
  width: 100%;
  margin-top: 8rem;
  padding: 0;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100vh;
}

.home-content section {
  max-width: 57.3rem;
  width: 100%;
}

.home-content section h1 {
  font-size: 4rem;
  color: #252b42;
  margin-bottom: 2rem;
}

.home-content section p {
  font-size: 1.8rem;
  color: #737373;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.home-content button {
  font-size: 1.75rem;
  padding: 1.75rem;
  background: #e84b23;
  border: 0;
  border-radius: 1rem;
  margin-top: 8rem;
  margin-left: 45rem;
}

.home-content button:hover {
  background: #af391c;
}

/* Consult */

.consult-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 10rem;
  padding: 0 15rem 0 15rem;
}

.consult-content img {max-width: 575px;}

.consult-content button {
  font-size: 1.75rem;
  padding: 1.5rem;
  background: #e84b23;
  border: 0;
  border-radius: 1rem;
  margin-top: 8rem;
  margin-left: 45rem;
}
.consult-content button:hover {
  background: #af391c;
}

/* About */

.about {
  display: flex;
  min-height: 100vh;
  align-items: center;
  gap: 10rem;
  padding: 0 15rem 0 15rem;
}

/* Consultas */
/* <a href="https://www.freepik.com/free-photo/diverse-kids-reading-books_19085804.htm#fromView=search&page=1&position=4&uuid=aa544705-378a-423f-85b8-ea07694317b0">Image by rawpixel.com on Freepik</a> */
#container_consultas {min-height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center; background: url(../../static/assets/consultas-background.webp) center center no-repeat; background-size: cover; backdrop-filter: blur(8px);}
form#infos {max-width: 500px; width: 100%; background-color: #FFF; box-shadow: 8px 8px 8px rgba(0, 0, 0, .25); border-radius: 20px; padding: 50px 80px;}
form#infos fieldset {border: none; display: flex; flex-direction: column; gap: 15px; margin-bottom: 25px;}
form#infos label,
form#infos input,
form#infos textarea {display: block; width: 100%; max-width: 100%;}
form#infos label {user-select: none; font-size: 14px;}
form#infos input, form#infos textarea {padding: 10px; font-size: 14px; border-radius: 8px;}
form#infos button,
form#infos a { font-size: 16px; padding: 15px; color: #FFF; background: #e84b23; border: 0; border-radius: 8px; margin: 0 auto; display: block; user-select: none; width: fit-content;}

#container_consultas.teacher {background: url(../../static/assets/bg-teachers.webp) center center no-repeat; background-size: cover; backdrop-filter: blur(8px);}


/* Boletim Aluno */
#container_aluno {min-height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; background: url(../../static/assets/consultas-background.webp) center center no-repeat; background-size: cover; backdrop-filter: blur(8px);}

#container_aluno .container_title h1 {font-size: 3rem; color: #FFF; font-weight: bold; text-align: center; margin-bottom: 15px;}
#container_aluno .container_title p {font-size: 1.5rem; color: #FFF; margin-bottom: 7px; padding: 0; text-align: center;}
#container_aluno .boletim {background-color: #FFF; border-radius: 20px; margin-top: 50px; padding: 2rem 4rem;}
#container_aluno .boletim th {font-size: 2rem; text-align: center; font-weight: bold; padding: 10px 25px}
#container_aluno .boletim td {font-size: 1.4rem; text-align: center; padding: 10px 25px; border-bottom: 1px solid #CCC}

#container_painel {min-height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; background: url(../../static/assets/bg-teachers.webp) center center no-repeat; background-size: cover; backdrop-filter: blur(8px);}
#container_painel .box-infos {background-color: #FFF; padding: 30px; border-radius: 25px; max-width: 500px; width: 100%; margin: 0 auto 50px auto;}
#container_painel .box-infos h1 {text-align: center; font-size: 3rem; margin: 0 0 20px;}
#container_painel .box-infos h2 {text-align: center; font-size: 2.5rem; margin: 0; padding: 0;}
#container_painel .box-alunos {background-color: #FFF; padding: 30px; border-radius: 25px; max-width: 500px; width: 100%; margin: 0 auto;}
#container_painel .box-alunos h2 {text-align: center;}
#container_painel .box-alunos a {font-size: 2rem; color: #000; font-weight: bold; display: block; text-align: center;}
#container_painel .box-alunos a + a {margin-top: 15px;}

/* Footer */

footer {
  display: flex;
  height: 5rem;
  background-color: #e84b23;
  justify-content: center;
}

footer p {
  color: #ffffff;
  margin-top: 1rem;
}


@media (min-width: 769px) {
  #home {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .text-content {
    max-width: 80rem;
  }

  .consult-content {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .img-about {
    display: inline-block;
  }

  .about {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}