<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar Informações do Aluno</title>
    <link
      href="https://fonts.googleapis.com/css/2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../static/css/styles.css" />
    <link rel="stylesheet" href="./../static/css/home.css" />
  </head>

  <body>
    <div class="body">
      <header>
        <a href="/">
          <img src="./../static/assets/Logo.webp" alt="Logo" />
        </a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/consultar">Consultar</a></li>
            <li><a href="/#about">Sobre</a></li>
            <li><a href="/professor">Area do Professor</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section id="container_aluno" class="home-content">
          {% for aluno in alunos %}
          <div class="container_title">
            <h1>Boletim do(a) aluno(a) {{ aluno.nome }}</h1>
            <h2>RA: {{ aluno.ra }}</h2>
            <div>
              <p>Data de atualização: 18/05/2024 - 23:30:00</p>
              <p>Americana - SP</p>
              <p>EMEI Patativa</p>
            </div>
          </div>
          <table class="boletim">
            <thead>
              <tr>
                <th>Matéria</th>
                <th>Frequência</th>
                <th>Nota</th>
                <th>Observações</th>
              </tr>
            </thead>
            <tbody>
              {% for materia in aluno.materias %}
              <tr>
                <td>{{ materia.materia }}</td>
                <td>100%</td>
                <td>{{ materia.nota }}</td>
                <td>{{ materia.observacao if materia.observacao else '-' }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </section>
      </main>
      <footer>
        <p>Copyright © 2024. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
