<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escola</title>

    <link
      href="https://fonts.googleapis.com/css/2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../static/css/styles.css" />
    <link rel="stylesheet" href="./../static/css/styles02.css" />
  </head>
  <body>
    <div class="body">
      <header>
        <img src="./../static/assets/Logo.webp" alt="Logo" />
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/consultar">Consultar</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="/professor">Area do Professor</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <div id="modal" class="open">
          <div class="content">
            <div class="container">
                <a href="javascript:;" id="close">X</a>
                <div>
                  <p class="modal_title">AVISO IMPORTANTE!</p>

                  <p><b>Prevenção:</b> Pedimos a todos que ajudem a prevenir a proliferação do mosquito Aedes aegypti, responsável pela transmissão da dengue, eliminando qualquer água parada em suas residências e arredores.</p>

                  <p><b>Sinais de Alerta:</b> Estejam atentos aos sintomas da dengue, como febre alta, dores musculares e articulares, dor de cabeça, manchas vermelhas na pele e cansaço. Caso seu filho(a) apresente algum desses sintomas, procure assistência médica imediatamente.</p>

                  <p><b>Proteção Pessoal:</b> Recomendamos que as crianças usem repelente e vistam roupas de manga longa e calças para minimizar o risco de picadas de mosquitos.</p>

                  <p><b>Cuidados na Escola:</b> A escola está tomando medidas para controlar a proliferação do mosquito, como eliminar água parada e manter os ambientes limpos.</p>

                  <p><b>Notificação de Casos:</b> Caso alguma criança seja diagnosticada com dengue, pedimos aos pais que informem a escola para que possamos tomar as devidas precauções e ajudar a prevenir a propagação.</p>

                  <p>A saúde e o bem-estar de nossos alunos são nossa prioridade. Contamos com a colaboração de todos para manter nossas crianças seguras e saudáveis.</p>
                  
                  <p>Atenciosamente, à direção.</p>
                </div>
              </div>
            </div>
        </div>

        <div id="home">
          <div class="indent">
            <div class="home-content">
              <section>
                <h1>Bem vindo ao nosso programa para acompanhamento escolar</h1>
                <p> Bem-vindo ao nosso site de acompanhamento escolar para pais e responsáveis! Aqui, você terá acesso a
                  uma plataforma dedicada a manter os pais informados sobre as
                  atividades escolares de seus filhos.
                  <br>
                  Nosso objetivo é facilitar a comunicação entre a escola e os pais, garantindo assim um acompanhamento
                  mais eficiente e
                  uma participação ativa no processo educacional das crianças.
                  <br>
                  Junte-se a nós para uma parceria de sucesso no desenvolvimento acadêmico e pessoal dos seus filhos!
                  <br>
                </p>
    
                <button><a href="#"> Saiba +</a></button>
              </section>
              <img
                class="studant"
                src="./../static/assets/img-person.webp"
                alt="Uma estudante"
              />
            </div>
          </div>
        </div>

        <div class="blue-bg" id="consult">
          <div class="indent">
            <div class="consult-content">
              <img
                src="./../static/assets/consult-img.webp"
                alt="Pessoa mexendo em seu notebook"
              />
              <section>
                <h2>Consultar</h2>
                <p>Ao consultar você terá acesso a todas as informações relevantes sobre as atividades escolares de seus
                  filhos.
                  <br>
                  Desde o calendário de eventos e datas importantes até o progresso nas disciplinas, notas e tarefas
                  pendentes,
                  nossa plataforma foi projetada para manter os pais informados e engajados no desenvolvimento acadêmico
                  de seus filhos.
                </p>
    
                <button><a href="/consultar">Consultar</a></button>
            </div>
          </div>
          </section>
        </div>
        <div class="about">
          <section id="about">
            <h2>Sobre Nós</h2>
            <p>Os participantes deste projeto são estudantes dos cursos de Tecnologia, incluindo Engenharia de
              Computação, Tecnologia da Informação e Ciência de Dados,
              todos localizados no estado de São Paulo.
              <br>
              Nosso objetivo é compreender as necessidades da comunidade escolar e criar um ambiente que facilite o
              contato dos
              pais/responsáveis com as escolas.
            </p>
          </section>
          <img src="./../static/assets/about-img.webp" alt="" />
        </div>
        
      </main>
      <footer>
        <p>Copyright © 2024. All rights reserved.</p>
      </footer>
    </div>
    <script>
        const modal = document.querySelector('#modal');
        const closeModal = document.querySelector('#modal #close');

        closeModal.addEventListener('click', () => {
          modal.classList.remove('open');
        })     
    </script>
  </body>
</html>
